# Telegram Bot Token from @BotFather
BOT_TOKEN=8793386036:AAGRYy2Krp4EnD94W329HCbz9tAZ1u1TUG8

# TeraBox cookie — FREE account works!
# Get from: terabox.com → F12 → Application → Cookies → copy ndus value
# Format: "lang=en; ndus=YOUR_NDUS_VALUE;"
TERABOX_COOKIE=lang=en; ndus=Yv8Am33teHui5Aq-kgWmnax4KdCYJt7R6BSPsZSx;
